@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    max-width: 940px;
}

.card {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
    background: #fff;
}

.btn {
    padding: 10px 20px;
    /*width: fit-content;*/
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: bold;
    font-size: 16px;
    color: white;
    text-transform: capitalize;
}

.btn:hover {
    box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.5);
}

.btn:active {
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.btn__header {
    background: #49aaef;
    font-size: 24px;
}

.btn__cancel {
    background: #67696c;
}

.btn__done {
    background: #49aaef;
}

.btn__remove {
    background: #fb7221;
}

.mr-20 {
    margin-right: 20px;
}
.mb-5 {
    margin-bottom: 5px;
}

.bold {
    font-weight: bold;
}